# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Watchlist: 
Forever
The Crown
A Series of Unfortunate Events
The Marvelous Mrs. Maisel
Black Mirror
Five Came Back
Alias Grace
The Handmaid's Tale
Transparent
Dear White People
Fleabag

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [42]:
import pandas as pd
import sqlite3 as sl

shows_df = pd.read_csv('tv_shows.csv')
print(shows_df.info())
shows_df = shows_df.drop('Unnamed: 0', 1)
shows_df = shows_df.rename(columns = {'Rotten Tomatoes':'Rotten_Tomatoes', 'Prime Video':'Prime', 'Disney+':'Disney'})
print(shows_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime            5368 non-null   int64
 9   Disney           5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB
None

C:\Users\laure\AppData\Local\Temp\ipykernel_20308\153543276.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  shows_df = shows_df.drop('Unnamed: 0', 1)

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [43]:
con = sl.connect('tv.db')
shows_df.to_sql('shows', con) # also works: pd.read_sql_query(sql_query_string, connection name)

ValueError: Table 'shows' already exists.

With your new table and database set up, print out the top 20 records in the `shows` table.

In [ ]:
shows_df.head(20)

Now add a table that includes an id number and the titles on your watchlist.

In [ ]:
con.execute("""
        CREATE TABLE watchlist (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT
        );
    """)

In [ ]:


sql = 'INSERT INTO watchlist (id, title) values(?, ?)'
data = [
        (1, 'Forever'),
        (2, 'The Crown'),
        (3, 'A Series of Unfortunate Events'),
        (4, 'The Marvelous Mrs. Maisel'),
        (5, 'Black Mirror'),
        (6, 'Five Came Back'),
        (7, 'Alias Grace'),
        (8, '''The Handmaid's Tale'''),
        (9, 'Transparent'),
        (10, 'Dear White People'),
        (11, 'Fleabag')
    ]

con.executemany(sql, data)

data = con.execute("SELECT * FROM watchlist")
for row in data:
        print(row)

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [ ]:
print(shows_df.describe())
print(shows_df['Netflix'].value_counts())
print(shows_df['Hulu'].value_counts())
print(shows_df['Prime'].value_counts())
print(shows_df['Disney'].value_counts())

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [ ]:
streaming_df = pd.read_sql("""
     SELECT watchlist.title, shows.Netflix, shows.Hulu, shows.Prime, shows.Disney 
     FROM watchlist JOIN shows ON shows.Title == watchlist.title;
     """, con)

streaming_df.to_sql('watchlist_streaming', con)

In [44]:
print(streaming_df.head(10))
print(streaming_df.info())
print(streaming_df.describe())

print(streaming_df['Netflix'].value_counts())
print(streaming_df['Hulu'].value_counts())
print(streaming_df['Prime'].value_counts())
print(streaming_df['Disney'].value_counts())

                            title  Netflix  Hulu  Prime  Disney
0                         Forever        0     0      1       0
1                       The Crown        1     0      0       0
2  A Series of Unfortunate Events        1     0      0       0
3       The Marvelous Mrs. Maisel        0     0      1       0
4                    Black Mirror        1     0      0       0
5                  Five Came Back        1     0      0       0
6                     Alias Grace        1     0      0       0
7             The Handmaid's Tale        0     1      0       0
8                     Transparent        0     0      1       0
9               Dear White People        1     1      0       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    11 non-null     object
 1   Netflix  11 non-null     int64
 2   Hulu     11 non-null     int64
 3   Prime    11 non-null     int64
 4   Disney   11 non-null     int64
dtypes: int64(4), object(1)
memory usage: 568.0+ bytes
None
         Netflix       Hulu      Prime  Disney
count  11.000000  11.000000  11.000000    11.0
mean    0.545455   0.181818   0.363636     0.0
std     0.522233   0.404520   0.504525     0.0
min     0.000000   0.000000   0.000000     0.0
25%     0.000000   0.000000   0.000000     0.0
50%     1.000000   0.000000   0.000000     0.0
75%     1.000000   0.000000   1.000000     0.0
max     1.000000   1.000000   1.000000     0.0
1    6
0    5
Name: Netflix, dtype: int64
0    9
1    2
Name: Hulu, dtype: int64
0    7
1    4
Name: Prime, dtype: int64
0    11
Name: Disney, dtype: int64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
No, since I generated my "watchlist" from a list of the supposed greatest streaming shows of all time. "Fleabag" was notably missing from my final analysis. Shows released in the last year or shows that required a "sub" subscription (such as AMC, a subscription WITHIN Amazon Prime) may not have been present in this dataset. Likewise, most streaming services offer licenses for a limited time and rotate titles into and out of their collections, so this dataset is limited to its most recent update.
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
Yes, all of these shows except Dear White People appear to be platform exclusives (e.g. only on 1 of the 4 platforms). I did not analyze the level of overlap between platforms, and it may be that one streaming service offers more overlapping titles of interest than it does originals/exclusives. If this is the case, it may be wiser to select a streaming service with more compelling originals than selecting a streaming service with mainly redundant titles that can be found on multiple services.
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
Netflix offered 6 of the 11 shows I wanted to watch, while Disney+ offered 0.
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?
Clearly, Netflix would meet about half of my streaming 'needs,' if you can call them needs.